<h1>Welcome to Voluteer Tracker<h1>

<h3>From here you can create new projects</h3>
<br>
<br>
<form action="/home" method="post">
  <div class="form-group">
    <input type="text" name="project_name" id="project" placeholder="Enter a project name">
  </div>
  <br>
  <button class="btn-success">Create project</button>
</form>