<!DOCTYPE html>

<head>
  
  <title>Volunteer Tracker</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/styles.css'>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-brand">Volunteer Tracker</p>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/home">Home</a></li>
          <li><a href="/projects">Current projects</a></li>
          <li><a href="/volunteers">Current volunteers</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <%= yield %>
</body>
</html>