<h1>Projects currently being worked on</h1>
<br>
<br>
<br>
<% if @projects.any? %>
<ul>
  <% @projects.each do |project|%>
  <h2><a href="/project/<%= project.id %>"><%= project.title %></a></h2>
  <% end %>
</ul>
<% else %>
  <p>There are currently not projects at the moment, please check back later!</p>
<% end %>
