<h1>Here is a list of all our current volunteers</h1>
<br>
<br>
<br>
<% if @volunteers.any? %>
<ul>
  <% @volunteers.each do |volunteer|%>
  <h3><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a></h3>
  <% end %>
</ul>
<% else %>
  <p>There are currently not projects at the moment, please check back later!</p>
<% end %>